<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Clone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="nav-logo border">
                <div class="logo"></div>
            </div>
            <div class="nav-address border">
                <p class="add-first">Deliver to</p>
                <div class="add-icon">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="add-sec">India</p>
                </div>
            </div>
            <div class="nav-search">
                <select class="search-select">
                    <option>All</option>
                </select>
                <input placeholder="Search Amazon" class="search-input">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="nav-lang border">
                <div class="flag">
                    <i class="fa-solid fa-flag-usa"></i>
                </div>    
                <select class="lang-option">
                    <option>EN</option>
                </select>
            </div>
            <div class="nav-signin border">
                <p class="nav-first"><span>Hello, sign in</span></p>
                <p class="nav-second">Account & Lists</p>
            </div>
            <div class="nav-return border">
                <p class="nav-first"><span>Returns</span></p>
                <p class="nav-second">& Orders</p>
            </div>
            <div class="nav-cart border">
                <div class="cart-symbol">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <p class="cart-text">Cart</p>
            </div>
        </div>
        <div class="pannel">
            <div class="pannel-all">
                <i class="fa-solid fa-bars"></i>
                All
            </div>
            <div class="pannel-options">
                <p>Today's Deals</p>
                <p>Customer Service</p>
                <p>Registry</p>
                <p>Gift Cards</p>
                <p>Sell</p>
            </div>
            <div class="pannel-deals">
                <p>Shop the Gaming Store</p>
            </div>
        </div>
    </header>
    
    <div class="hero-section">
        <div class="hero-msg">
            <p>You are on amazon.com. You can also shop on Amazon India for millions of products with fast local delivery. <a>Click here to go to amazon.in</a></p>
        </div>
    </div>

    <div class="shopping-section">
        <div class="box">
            <div class="box-content">
                <h2>Clothes</h2>
                <div class="box1-img" style="background-image:url('images/box1_image.jpg')"></div>
                <p><a>shop now</a></p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Health & Personal Care</h2>
                <div class="box1-img" style="background-image:url('images/box2_image.jpg')"></div>
                <p><a>shop now</a></p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Furniture</h2>
                <div class="box1-img" style="background-image:url('images/box3_image.jpg')"></div>
                <p><a>shop now</a></p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Electronics</h2>
                <div class="box1-img" style="background-image:url('images/box4_image.jpg')"></div>
                <p><a>shop now</a></p>
            </div>
        </div>
    </div>

    <div class="shopping-section1">
        <div class="box">
            <div class="box-content">
                <h2>Beauty Picks</h2>
                <div class="box1-img" style="background-image:url('images/box5_image.jpg')"></div>
                <p><a>shop now</a></p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Pet Care</h2>
                <div class="box1-img" style="background-image:url('images/box6_image.jpg')"></div>
                <p><a>shop now</a></p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>New Arrival In Toys</h2>
                <div class="box1-img" style="background-image:url('images/box7_image.jpg')"></div>
                <p><a>shop now</a></p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Discover Fashion Trends</h2>
                <div class="box1-img" style="background-image:url('images/box8_image.jpg')"></div>
                <p><a>shop now</a></p>
            </div>
        </div>
    </div>

    <footer>
        <div class="foot-panel1">
            <p>Back to top</p>
        </div>
        <div class="foot-panel2">
            <div class="panel2-div1 pn2">
            <ul>
                <p>Get to Know Us</p>
                <a>Careers</a>
                <a>Blog</a>
                <a>About Amazon</a>
                <a>Investor Relations</a>
                <a>Amazon Devices</a>
                <a>Amazon Science</a>
            </ul>
            </div>
            <div class="panel2-div2 pn2">
                <ul>
                    <p>Make Money with Us</p>
                    <a>Sell products on Amazon</a>
                    <a>Sell on Amazon Business</a>
                    <a>Sell apps on Amazon</a>
                    <a>Become an Affiliate</a>
                    <a>Advertise Your Products</a>
                    <a>Self-Publish with Us</a>
                    <a>Host an Amazon Hub</a>
                    <a>› See More Make Money with Us</a>
                </ul>
            </div>
            <div class="panel2-div3 pn2">
                    <ul>
                        <p>Amazon Payment Products</p>
                        <a>Amazon Business Card</a>
                        <a>Shop with Points</a>
                        <a>Reload Your Balance</a>
                        <a>Amazon Currency Converter</a>
                    </ul>
                </div>
                <div class="panel2-div4 pn2">
                        <ul>
                            <p>Let Us Help You</p>
                            <a>Amazon and COVID-19</a>
                            <a>Your Orders</a>
                            <a>Shipping Rates & Policies</a>
                            <a>Returns & Replacements</a>
                            <a>Manage Your Content and Devices</a>
                            <a>Help</a>
                        </ul>
                </div>
        </div>
        <div class="foot-panel3">
            <div class="foot-logo"></div>
            <div class="foot-block">
                <div class="foot-lang">
                    <div class="foot-globe">
                        <i class="fa-solid fa-globe"></i>
                    </div>
                    <p>English</p>
                </div>
                <div class="foot-currency">
                    <div class="foot-dollor">
                        <i class="fa-solid fa-dollar-sign"></i>
                    </div>
                    <p>USD-U.S.Dollor</p>
                </div>
                <div class="foot-country">
                    <div class="foot-flag">
                        <i class="fa-solid fa-flag-usa"></i>
                    </div>
                    <p>United States</p>
                </div>
            </div>
        </div>
        <div class="foot1-panel4">
          <div class="foot1-pan4div">
            <div class="pan2">
                    <p class="foot-pan1p">Amazon Music</p>
                    <p class="foot-pan2p">stream millions of songs</p>
            </div>
            <div class="pan2">
                <p class="foot-pan1p">Amazon Adds</p>
                <p class="foot-pan2p">Reach customers
                    wherever they
                    spend their time	</p>
            </div>
            <div class="pan3">
                <p class="foot-pan1p">6pm</p>
                <p class="foot-pan2p">Score deals
                    on fashion brands</p>
            </div>
            <div class="pan4">
                <p class="foot-pan1p">Abe Book</p>
                <p class="foot-pan2p">Books, art
                    & collectibles</p>
            </div>
            <div class="pan5">
                <p class="foot-pan1p">ACX</p>
                <p class="foot-pan2p">Audiobook Publishing
                    Made Easy</p>
            </div>
            <div class="pan6">
                <p class="foot-pan1p">Sell on Amazon</p>
                <p class="foot-pan2p">Start a Selling Account</p>
            </div>
            <div class="pan7">
                <p class="foot-pan1p">Veeqo</p>
                <p class="foot-pan2p">Shipping Software
                    Inventory Management</p>
            </div>
          </div>
        </div>
        <div class="foot2-panel4">
            <div class="foot1-pan4div">
              <div class="pan2">
                      <p class="foot-pan1p">Amazon Buisness</p>
                      <p class="foot-pan2p">Everything For
                        Your Business</p>
              </div>
              <div class="pan2">
                  <p class="foot-pan1p">AmazonGlobal</p>
                  <p class="foot-pan2p">Ship Orders
                    Internationally</p>
              </div>
              <div class="pan3">
                  <p class="foot-pan1p">Home Service</p>
                  <p class="foot-pan2p">Experienced Pros
                    Happiness Guarantee</p>
              </div>
              <div class="pan4">
                  <p class="foot-pan1p">Amazon Web Service</p>
                  <p class="foot-pan2p">Scalable Cloud
                    Computing Services</p>
              </div>
              <div class="pan5">
                  <p class="foot-pan1p">Audible</p>
                  <p class="foot-pan2p">Listen to Books & Original
                    Audio Performances</p>
              </div>
              <div class="pan6">
                  <p class="foot-pan1p">Box Office Mojo</p>
                  <p class="foot-pan2p">Find Movie
                    Box Office Data	</p>
              </div>
              <div class="pan7">
                  <p class="foot-pan1p">Goodreads</p>
                  <p class="foot-pan2p">Book reviews
                    & recommendations</p>
              </div>
            </div>
          </div>
          <div class="foot3-panel4">
            <div class="foot1-pan4div">
              <div class="pan2">
                      <p class="foot-pan1p">IMDb</p>
                      <p class="foot-pan2p">Movies, TV
                        & Celebrities	</p>
              </div>
              <div class="pan2">
                  <p class="foot-pan1p">IMDbPro</p>
                  <p class="foot-pan2p">Get Info Entertainment
                    Professionals Need</p>
              </div>
              <div class="pan3">
                  <p class="foot-pan1p">Kindle Direct Publishing</p>
                  <p class="foot-pan2p">Indie Digital & Print Publishing
                    Made Easy	</p>
              </div>
              <div class="pan4">
                  <p class="foot-pan1p">Prime Video Direct</p>
                  <p class="foot-pan2p">Video Distribution
                    Made Easy</p>
              </div>
              <div class="pan5">
                  <p class="foot-pan1p">Shopbop</p>
                  <p class="foot-pan2p">Designer
                    Fashion Brands</p>
              </div>
              <div class="pan6">
                  <p class="foot-pan1p">Woot!</p>
                  <p class="foot-pan2p">Deals and
                    Shenanigans</p>
              </div>
              <div class="pan7">
                  <p class="foot-pan1p">Zappos</p>
                  <p class="foot-pan2p">Shoes &
                    Clothing</p>
              </div>
            </div>
          </div> 
          <div class="foot4-panel4">
            <div class="foot1-pan4div">
              <div class="pan2">
                      <p class="foot-pan1p">Ring</p>
                      <p class="foot-pan2p">Smart Home
                        Security Systems	</p>
              </div>
              <div class="pan2">
                  <p class="foot-pan1p">eero Wifi</p>
                  <p class="foot-pan2p">Stream 4K Video
                    in Every Room</p>
              </div>
              <div class="pan3">
                  <p class="foot-pan1p">Blink</p>
                  <p class="foot-pan2p">Smart Security
                    for Every Home</p>
              </div>
              <div class="pan4">
                  <p class="foot-pan1p">Neighbor App</p>
                  <p class="foot-pan2p">Real-Time Crime
                    & Safety Alerts	</p>
              </div>
              <div class="pan5">
                  <p class="foot-pan1p">Amazon Subscription Boxes</p>
                  <p class="foot-pan2p">Top subscription boxes – right to your door		PillPack
                    Pharmacy Simplified		 
                    </p>
              </div>
              <div class="pan6">
                  <p class="foot-pan1p">Pillpack</p>
                  <p class="foot-pan2p">Pharmacy Simplified		 </p>
              </div>
              <div class="pan7">
                <p class="foot-pan1p"></p>
                <p class="foot-pan2p"></p>
            </div>
            </div>
          </div> 
        <div class="foot-panel5">
            <div class="pages">
                <a>Conditions of Use</a>
                <a>Privacy Notice</a>
                <a>Consumer Health Data Privacy Disclosure</a>
                <a>Your Ads Privacy Choices</a>
            </div>
            <div class="copyright">
                <p>&copy 1996-2024, Amazon.com, Inc. or its affiliates</p>
            </div>
        </div>
    </footer>
</body>
</html>