<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Clone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}

    <div class="hero-section">
        <div class="hero-msg">
            <p>You are on amazon.com. You can also shop on Amazon India for millions of products with fast local delivery. <a>Click here to go to amazon.in</a></p>
        </div>
    </div>

    <div class="shopping-section">
        <div class="box-content {% if shop_categ|length < 4 %}fewer-than-four{% endif %}">
            {% for n in shop_categ %}
                <div class="box">
                    <h2>{{n.category_name}}</h2>
                    <div class="box1-img"><img src="/media/{{n.shop_categ_img}}"></div>
                    <p><a>see more</a></p>
                </div>
            {% endfor %}
        </div>
    </div>
  
    {% endblock %}
</body>
</html>