<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Clone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="hero-section">
        <div class="hero-msg">
            <p>You are on amazon.com. You can also shop on Amazon India for millions of products with fast local delivery. <a>Click here to go to amazon.in</a></p>
        </div>
    </div>

    <div class="shopping-section">
        <div class="box">
            <div class="box-content">
                <h2>Clothes</h2>
                <div class="box1-img" style="background-image:url('/static/images/box1_image.jpg')"></div>
                <p><a>shop now</a></p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Health & Personal Care</h2>
                <div class="box1-img" style="background-image:url('/static/images/box2_image.jpg')"></div>
                <p><a>shop now</a></p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Furniture</h2>
                <div class="box1-img" style="background-image:url('/static/images/box3_image.jpg')"></div>
                <p><a>shop now</a></p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Electronics</h2>
                <div class="box1-img" style="background-image:url('/static/images/box4_image.jpg')"></div>
                <p><a>shop now</a></p>
            </div>
        </div>
    </div>

    <div class="shopping-section1">
        <div class="box">
            <div class="box-content">
                <h2>Beauty Picks</h2>
                <div class="box1-img" style="background-image:url('/static/images/box5_image.jpg')"></div>
                <p><a>shop now</a></p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Pet Care</h2>
                <div class="box1-img" style="background-image:url('/static/images/box6_image.jpg')"></div>
                <p><a>shop now</a></p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>New Arrival In Toys</h2>
                <div class="box1-img" style="background-image:url('/static/images/box7_image.jpg')"></div>
                <p><a>shop now</a></p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Discover Fashion Trends</h2>
                <div class="box1-img" style="background-image:url('/static/images/box8_image.jpg')"></div>
                <p><a>shop now</a></p>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>